
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* image overlay */

.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }
  
  .img-overlay-wrap img { /* <= optional, for responsiveness */
     display: block;
     max-width: 100%;
     height: auto;
  }
  
  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hide {
      background-color: black;
      border-radius: 5px;
      text-align: center;
      position: absolute;
      margin: 0 auto;
  }

  .lampara1 {
      top: 10%;
      left: 45%;
  }
  
  /* background image */
  body {
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container 
  }